---
# /etc/pkg/FreeBSD.conf
pkg_default_repo_conf:
  - "{{ pkg_default_repo }}"
 
pkg_default_repo_url: pkg+https://pkg.FreeBSD.org/${ABI}/quarterly
pkg_default_repo_enabled: "yes"
pkg_default_repo:
  name: FreeBSD-ports
  conf:
    - {key: url, value: '"{{ pkg_default_repo_url }}"'}
    - {key: mirror_type, value: '"srv"'}
    - {key: signature_type, value: '"fingerprints"'}
    - {key: fingerprints, value: '"/usr/share/keys/pkg"'}
    - {key: enabled, value: "{{ pkg_default_repo_enabled }}"}

# Crete repos in /usr/local/etc/pkg/repos
pkg_repos_conf:
  - name: local
    conf:
      - {key: 'url', value: '"file:///usr/local/repo"'}
      - {key: 'enabled', value: 'yes'}
      - {key: 'signature_type', value: '"none"'}

# Update repos
pkg_repos_conf_ucl:
  - name: /usr/local/etc/pkg/repos/local.conf
    create: true
    conf:
      - {key: local.url, value: 'file:///usr/local/repo'}
      - {key: local.enabled, value: 'yes'}
      - {key: local.signature_type, value: 'none'}

# Packages
pkg_dict_all: false
pkg_dict_select:
  - ansible
  - minimal
