---
# vars for freebsd_packages

# pkg_debug: true

# pkg_default_repo: false
# pkg_pkgsite: postinstall
#
# pkg_repo:
#   - name: build
#     conf:
#       - key: url
#         value: '"pkg+http://build.example.com/packages/12i386-local-default"'
#       - key: enabled
#         value: "yes"
#       - key: mirror_type
#         value: '"srv"'
#
# See vbotka.freebsd_postinstall/defaults/main/pkgdict_*.yml
#
# bsd_linux_version: "c6"
# pkg_dict_amd64:
#   - pkglist: postinstall
#     packages:
#       - shells/bash
#       - editors/emacs
#       - devel/git
#       - archivers/gtar
#       - ports-mgmt/pkg
#       - ports-mgmt/portmaster
#       - ports-mgmt/portupgrade
#       - security/py-certbot
#       - net/rsync
#   - pkglist: smart
#     packages:
#       - sysutils/smartmontools
#   - pkglist: procmail
#     packages:
#       - mail/procmail
#   - pkglist: wpa_supplicant
#     packages:
#       - security/wpa_supplicant
#   - pkglist: linux
#     packages:
#       - emulators/linux_base-{{ bsd_linux_version }}
#
# pkg_list_amd64:
#   - shells/bash
#   - editors/emacs
#   - devel/git
#   - archivers/gtar
#   - ports-mgmt/pkg
#   - ports-mgmt/portmaster
#   - ports-mgmt/portupgrade
#   - security/py-certbot
#   - net/rsync
#
# pkg_select_all: true
#
# pkg_dict_select:
#   - {enabled: false, list: apcups}
#   - {enabled: false, list: bind}
#   - {enabled: true, list: apache}

# EOF
...
